.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    font-size: 20px;
    font-weight: 600;
    background-color: #9021ff;
    height: 55px;
    
}
.header__nav {
    list-style: none;
    display: flex;
    
}
.header__item {
    
    padding: 7px;
}
.header__item:hover {
    background-color: #8a2be2;
    border-bottom: solid 0.5px #ffccff;   
}
.header__link {
    color: #ffff;
    text-decoration: none;
}
.header__btn {
    background-color: #9021ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
}
.header__btn:hover{
    background-color: #8a2be2;
    border-bottom: solid 0.5px #ffccff;
}
.main{
    height: auto;
    background-color: #ffff;
    padding: 15px 30px;
}